.alert {
	z-index: 100;
	position: fixed;
	inset: auto 0;
	bottom: 10px;
	margin: 0 auto;
	width: 25%;
	height: fit-content;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
.error {
	color: white;
	background-color: #ff482c;
	border-color: darkred;
}

.success {
	color: white;
	background-color: #07bc0c;
	border-color: darkgreen;
}

.warning {
	color: #664d03;
	background-color: #fff3cd;
	border-color: #ffecb5;
}
.primary {
	color: #084298;
	background-color: #cfe2ff;
	border-color: #b6d4fe;
}

.secondary {
	color: #41464b;
	background-color: #e2e3e5;
	border-color: #d3d6d8;
}

.info {
	color: #055160;
	background-color: #cff4fc;
	border-color: #b6effb;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
.hide {
	display: none;
}
